.tab_button_big {
    max-width: 170px;
}

.sub_list {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}


.bold {
    font-weight: 700;
}

.additional_text{
    margin-top: -14px;
}
